@model HotelMVC.Models.Room

@{
    ViewData["Title"] = "Детали номера";
}

<h1>Детали номера</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Number)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Number)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Type)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Type)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Capacity)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PricePerNight)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PricePerNight)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IsAvailable)</dt>
        <dd class="col-sm-10">@(Model.IsAvailable ? "Да" : "Нет")</dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    }
    @if (User.Identity.IsAuthenticated && Model.IsAvailable)
    {
        <a asp-action="Book" asp-route-id="@Model.Id" class="btn btn-success">Забронировать</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>